<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="reward_info">
	<!--리워드 프로젝트 목록 -->
	<select id="reward_infoList"
		resultType="com.example.team.model.reward_info.dto.Reward_infoDTO">
		select
		rno,company_name,reward_name,reward_category,start_date,end_date,reward_max,reward_now,reward_ratio,pro_thumbnail
		from reward_info where pro_sign=1
		order by rno
	</select>

	<!--리워드 프로젝트 조회수 증가 -->
	<update id="viewUp">
		update reward_info set pro_view=pro_view+1 where rno=#{rno}
	</update>

	<!--리워드 프로젝트 좋아요 증가 -->
	<update id="pro_likeUp">
		update reward_info set pro_like=pro_like+1 where rno=#{rno}
	</update>

	<!--사용자가 선택한 리워드 프로젝트 세부정보 -->
	<select id="reward_infoDetail"
		resultType="com.example.team.model.reward_info.dto.Reward_infoDTO">
		select * from reward_info where
		rno=#{rno} order by r_id
	</select>

	<!-- 리워드 아이템 결제 정보 -->
	<select id="paymentInfo"
		resultType="com.example.team.model.reward_info.dto.Item_stepDTO">
		select * from item_step where rno=#{rno} order by r_id
	</select>

	<!-- 본인이 한 리워드 투자 목록 -->
	<select id="user_rewardList">
		select * from user_reward where userid=#{userid}
	</select>


	<!--리워드 투자 정보 추가 -->
	<insert id="pay">
		insert into user_reward
		(uno,rno,userid,name,reward_name,company_name,r_id,item_name,price_unit,item_option,delivery_fee,delivery_date,item_amount,total_reward,total_money,dc_ratio)
		values
		(#{uno},#{rno},#{userid},#{name},#{reward_name},#{company_name},#{r_id},#{item_name},#{price_unit},#{item_option},#{delivery_fee},
		#{delivery_date},#{item_amount},#{total_reward},#{total_money},#{dc_ratio})
	</insert>

	<!-- 리워드 프로젝트 -->




</mapper>














